form {
    width: 300px;
    margin: 0 auto;
  }
  
  /* Estilos para a caixa de entrada */
  .caixa-de-entrada {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Estilos para o botão */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }